<%- include('partials/header') %>

<a class="btn btn-light" href="/" role="button">LOGO</a>

<h1>SharePod</h1>
<h2>Landing Page</h2>
<a class="btn btn-light" href="/home" role="button">Continue</a>

<%- include('partials/footer') %>
